body,
html {
  margin: 0;
  padding: 0;
}
.main {
  height: 1020px;
}
.main .banner {
  width: 100px;
  height: 1020px;
  float: left;
  background-color: #1d2531;
}
.main .detail {
  width: 250px;
  height: 1020px;
  float: left;
  background: #222c3c;
}
.main .content {
  height: 1020px;
  margin-left: 350px;
}
.banner {
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.banner .logo > div {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}
.banner .logo > div img {
  margin-top: 15px;
}
.banner .logo .blue {
  background-image: linear-gradient(0deg, #1991eb 0%, #2ea1f8 100%);
}
.banner .logo .purple {
  background-image: linear-gradient(0deg, #7f5be6 1%, #9d8fe3 100%);
}
.banner .logo .red {
  background-image: linear-gradient(180deg, #f45438 0%, #cb270a 100%);
}
.banner .logo .add {
  border: solid 1px #2d3848;
  box-sizing: border-box;
  padding: 0 14px;
}
.banner .logo .add .icon {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 40px;
  color: #2d3848;
  font-weight: bold;
}
.banner .main-foot {
  position: absolute;
  bottom: 10px;
  height: 20px;
  width: 80px;
  text-align: left;
}
.banner .main-foot .erweima {
  margin-right: 10px;
}
.detail {
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}
.detail .menu {
  border-bottom: 1px solid #2a3547;
  margin-bottom: 15px;
}
.detail .menu .menu-top {
  font-size: 12px;
  line-height: 40px;
  color: #5b6779;
}
.detail .menu .menu-top .setting {
  float: right;
  padding-top: 12px;
}
.detail .menu .menu-center ul {
  vertical-align: top;
  padding-left: 0;
  margin: 0;
}
.detail .menu .menu-center ul li {
  list-style: none;
  font-size: 14px;
  line-height: 36px;
  color: #b7c0cd;
}
.detail .menu .menu-center ul li img {
  width: 14px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
}
.detail .menu .menu-center ul li .number {
  float: right;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  width: 32px;
  height: 24px;
  background-image: linear-gradient(0deg, #1991eb 0%, #2ea1f8 100%);
  border-radius: 12px;
  text-align: center;
  margin-top: 5px;
}
.detail .menu .menu-center ul li .alert {
  float: right;
  width: 24px;
  height: 24px;
  background-image: linear-gradient(180deg, #f45438 0%, #cb270a 100%);
  border-radius: 12px;
  text-align: center;
  margin-top: 5px;
  line-height: 24px;
  color: #ffffff;
}
.detail .detail-foot {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 30px;
  height: 40px;
  width: 190px;
  border: 1px solid red;
}
.detail .detail-foot span {
  font-size: 14px;
  color: #ffffff;
}
.detail .detail-foot .money {
  margin-left: 7px;
}
.content .content-top {
  height: 80px;
  line-height: 80px;
  padding: 0 30px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
}
.content .content-top .message {
  font-size: 24px;
  line-height: 50px;
  color: #354052;
}
.content .content-top .admin {
  float: right;
  width: 204px;
  height: 58px;
  margin-top: 10px;
}
.content .content-top .admin .admin-name {
  display: inline-block;
  line-height: 24px;
  margin-left: 5px;
}
.content .content-top .admin .admin-name .name1 {
  font-size: 16px;
  color: #2399f1;
}
.content .content-top .admin .admin-name .name2 {
  font-size: 14px;
  color: #b5b5b5;
}
.content .content-top .admin .dropdown {
  vertical-align: top;
  margin-top: 20px;
  float: right;
  line-height: 24px;
}
.content .content-left {
  width: 30%;
  height: 939px;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid #eeeeee;
}
.content .content-left .search {
  text-align: center;
  height: 70px;
  line-height: 70px;
  border-bottom: 2px solid #eeeeee;
}
.content .content-left .search input {
  width: 80%;
  height: 30px;
  border-radius: 4px;
  border: solid 1px #e5e8ee;
  outline: none;
  text-indent: 10px;
}
.content .content-left .info {
  padding-left: 0;
}
.content .content-left .info li {
  list-style: none;
  height: 130px;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}
.content .content-left .info li .info-top {
  margin-left: 20px;
}
.content .content-left .info li .info-top .info-mseeage {
  display: inline-block;
}
.content .content-left .info li .info-top .info-mseeage .info2 {
  font-size: 16px;
  color: #2399f1;
}
.content .content-left .info li .info-top .info-mseeage .info2 span {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #00aaff;
  border-radius: 8px;
}
.content .content-left .info li .info-top .info-mseeage .info3 {
  font-size: 14px;
  color: #b5b5b5;
}
.content .content-left .info li .info-top .leter {
  float: right;
  margin-right: 15px;
  font-size: 14px;
  line-height: 36px;
  color: #7f8fa4;
}
.content .content-left .info li .info-detail {
  width: 80%;
  font-size: 14px;
  line-height: 19px;
  color: #585d68;
  margin-left: 20px;
}
.content .content-left .info li .number {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15px;
  bottom: 0;
  top: 60px;
  background-image: linear-gradient(0deg, #1991eb 0%, #2ea1f8 100%);
  border-radius: 12px;
  color: #ffffff;
  text-align: center;
}
.content .content-right {
  width: 70%;
  float: left;
}
.content .content-right .main-top {
  height: 70px;
  line-height: 70px;
  border-bottom: 2px solid #eeeeee;
  position: relative;
}
.content .content-right .main-top .main-title {
  margin-left: 20px;
  font-size: 18px;
  color: #585d68;
}
.content .content-right .main-top .point {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #1bb934;
  border-radius: 8px;
}
.content .content-right .main-top .operate {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 240px;
  height: 32px;
}
.content .content-right .main-top .operate .user-icon {
  width: 110px;
  border-right: 1px solid #eeeeee;
  line-height: 0;
  float: left;
  margin-top: 3px;
}
.content .content-right .main-top .operate .user-icon button:nth-child(2),
.content .content-right .main-top .operate .user-icon button:nth-child(3) {
  margin-left: -6px;
}
.content .content-right .main-top .operate .page {
  float: left;
  line-height: 0;
  width: 110px;
  margin-top: 15px;
  margin-left: 10px;
}
.content .content-right .main-top .operate .page span {
  font-size: 14px;
  color: #56688a;
}
.content .content-right .main-top .operate .page .direction {
  width: 50px;
  float: right;
  margin-top: -10px;
}
.content .content-right .main-top .operate .page .direction button:first-child {
  margin-right: -4.3px;
}
.content .content-right .main-center ul {
  margin: 20px 40px 20px 30px;
  padding-left: 0;
  min-height: 400px;
}
.content .content-right .main-center ul li {
  list-style: none;
  min-height: 200px;
}
.content .content-right .main-center ul li .main-list {
  min-height: 200px;
}
.content .content-right .main-center ul li .main-list .main-info {
  width: 85%;
  display: inline-block;
  height: 80px;
}
.content .content-right .main-center ul li .main-list .main-info .name {
  font-size: 16px;
  color: #585d68;
}
.content .content-right .main-center ul li .main-list .main-info .time {
  font-size: 14px;
  color: #7f8fa4;
}
