body,
html {
  margin: 0;
  padding: 0;
}
//弹性布局
// .main {
//   display: flex;
//   .banner {
//     flex: 0 0 100px;
//     height: 1020px;
//   }
//   .detail {
//     flex: 0 0 250px;
//     height: 1020px;
//   }
//   .content {
//     flex: 1;
//     height: 1020px;
//   }
// }

//绝对定位布局
// .main {
//   position: relative;
//   height: 1020px;
//   .banner {
//     width: 100px;
//     height: 1020px;
//     position: absolute;
//     left: 0;
//     top: 0;
//     background-color: #1d2531;
//   }
//   .detail {
//     width: 250px;
//     height: 1020px;
//     position: absolute;
//     left: 100px;
//     top: 0;
//     background: red;
//   }
//   .content {
//     height: 1020px;
//     position: absolute;
//     right: 0;
//     top: 0;
//     left: 350px;
//     background: green;
//   }
// }

//table-cell布局
// .main {
//   display: table;
//   width: 100%;
// }
// .banner {
//   width: 100px;
//   height: 1020px;
//   background-color: #1d2531;
//   display: table-cell;
// }
// .detail {
//   width: 250px;
//   height: 1020px;
//   background: red;
//   display: table-cell;
// }
// .content {
//   height: 1020px;
//   display: table-cell;
//   background: green;
// }

//浮动布局
.main {
  height: 1020px;
  .banner {
    width: 100px;
    height: 1020px;
    float: left;
    background-color: #1d2531;
  }
  .detail {
    width: 250px;
    height: 1020px;
    float: left;
    background: #222c3c;
  }
  .content {
    height: 1020px;
    margin-left: 350px;
    // background: #eeeeee;
  }
}

.banner {
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  .logo {
    & > div {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      margin-bottom: 20px;
      cursor: pointer;
      img {
        margin-top: 15px;
      }
    }
    .blue {
      background-image: linear-gradient(0deg, #1991eb 0%, #2ea1f8 100%);
    }
    .purple {
      background-image: linear-gradient(0deg, #7f5be6 1%, #9d8fe3 100%);
    }
    .red {
      background-image: linear-gradient(180deg, #f45438 0%, #cb270a 100%);
    }
    .add {
      border: solid 1px #2d3848;
      box-sizing: border-box;
      padding: 0 14px;
      .icon {
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: 40px;
        color: #2d3848;
        font-weight: bold;
      }
    }
  }
  .main-foot {
    position: absolute;
    bottom: 10px;
    height: 20px;
    width: 80px;
    text-align: left;
    .erweima {
      margin-right: 10px;
    }
  }
}

.detail {
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
  .menu {
    border-bottom: 1px solid #2a3547;
    margin-bottom: 15px;
    .menu-top {
      font-size: 12px;
      line-height: 40px;
      color: #5b6779;
      .setting {
        float: right;
        padding-top: 12px;
      }
    }
    .menu-center {
      ul {
        vertical-align: top;
        padding-left: 0;
        margin: 0;
        li {
          list-style: none;
          font-size: 14px;
          line-height: 36px;
          color: #b7c0cd;
          img {
            width: 14px;
            height: 16px;
            display: inline-block;
            margin-right: 5px;
          }
          .number {
            // display: inline-block;
            float: right;
            font-size: 14px;
            line-height: 24px;
            color: #ffffff;
            width: 32px;
            height: 24px;
            background-image: linear-gradient(0deg, #1991eb 0%, #2ea1f8 100%);
            border-radius: 12px;
            text-align: center;
            margin-top: 5px;
          }
          .alert {
            float: right;
            width: 24px;
            height: 24px;
            background-image: linear-gradient(180deg, #f45438 0%, #cb270a 100%);
            border-radius: 12px;
            text-align: center;
            margin-top: 5px;
            line-height: 24px;
            color: #ffffff;
          }
        }
      }
    }
  }
  .detail-foot {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 30px;
    height: 40px;
    width: 190px;
    border: 1px solid red;
    span {
      font-size: 14px;
      color: #ffffff;
    }
    .money {
      margin-left: 7px;
    }
  }
}

.content {
  .content-top {
    height: 80px;
    line-height: 80px;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
    // border: 1px solid #eeeeee;
    .message {
      font-size: 24px;
      line-height: 50px;
      color: #354052;
    }
    .admin {
      float: right;
      width: 204px;
      height: 58px;
      // line-height: 58px;
      margin-top: 10px;
      .admin-name {
        display: inline-block;
        line-height: 24px;
        margin-left: 5px;
        .name1 {
          font-size: 16px;
          color: #2399f1;
        }
        .name2 {
          font-size: 14px;
          color: #b5b5b5;
        }
      }
      .dropdown {
        vertical-align: top;
        margin-top: 20px;
        float: right;
        line-height: 24px;
      }
    }
  }
  .content-left {
    width: 30%;
    height: 939px;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #eeeeee;
    .search {
      text-align: center;
      height: 70px;
      line-height: 70px;
      border-bottom: 2px solid #eeeeee;
      input {
        width: 80%;
        height: 30px;
        border-radius: 4px;
        border: solid 1px #e5e8ee;
        outline: none;
        text-indent: 10px;
      }
    }
    .info {
      // padding: 0 20px;
      padding-left: 0;
      li {
        list-style: none;
        height: 130px;
        border-bottom: 1px solid #eeeeee;
        position: relative;
        .info-top {
          margin-left: 20px;
          .info-mseeage {
            display: inline-block;
            .info1 {
            }
            .info2 {
              font-size: 16px;
              color: #2399f1;
              span {
                display: inline-block;
                width: 8px;
                height: 8px;
                background-color: #00aaff;
                border-radius: 8px;
              }
            }
            .info3 {
              font-size: 14px;
              color: #b5b5b5;
            }
          }
          .leter {
            float: right;
            margin-right: 15px;
            font-size: 14px;
            line-height: 36px;
            color: #7f8fa4;
          }
        }
        .info-detail {
          width: 80%;
          font-size: 14px;
          line-height: 19px;
          color: #585d68;
          margin-left: 20px;
        }
        .number {
          width: 24px;
          height: 24px;
          position: absolute;
          right: 15px;
          bottom: 0;
          top: 60px;
          background-image: linear-gradient(0deg, #1991eb 0%, #2ea1f8 100%);
          border-radius: 12px;
          color: #ffffff;
          text-align: center;
        }
      }
    }
  }
  .content-right {
    width: 70%;
    float: left;
    .main-top {
      height: 70px;
      line-height: 70px;
      border-bottom: 2px solid #eeeeee;
      position: relative;
      .main-title {
        margin-left: 20px;
        font-size: 18px;
        color: #585d68;
      }
      .point {
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: #1bb934;
        border-radius: 8px;
      }
      .operate {
        position: absolute;
        top: 15px;
        right: 20px;
        width: 240px;
        height: 32px;
        // border: 1px solid red;
        .user-icon {
          width: 110px;
          border-right: 1px solid #eeeeee;
          line-height: 0;
          float: left;
          margin-top: 3px;

          button:nth-child(2),
          button:nth-child(3) {
            margin-left: -6px;
          }
        }
        .page {
          float: left;
          line-height: 0;
          width: 110px;
          margin-top: 15px;
          margin-left: 10px;
          span {
            font-size: 14px;
            color: #56688a;
          }
          .direction {
            width: 50px;
            float: right;
            margin-top: -10px;
            button:first-child {
              margin-right: -4.3px;
            }
          }
        }
      }
    }
    .main-center {
      ul {
        margin: 20px 40px 20px 30px;
        padding-left: 0;
        min-height: 400px;
        li {
          list-style: none;
          min-height: 200px;
          .main-list {
            min-height: 200px;
            .main-info {
              width: 85%;
              display: inline-block;
              height: 80px;
              .name {
                font-size: 16px;
                color: #585d68;
              }
              .time {
                font-size: 14px;
                color: #7f8fa4;
              }
            }
          }
        }
      }
    }
  }
}
