body,
html {
  margin: 0;
  padding: 0;
}
.main {
  height: 1020px;
}
.main .banner {
  width: 100px;
  height: 1020px;
  float: left;
  background-color: #1d2531;
}
.main .detail {
  width: 250px;
  height: 1020px;
  float: left;
  background: #222c3c;
}
.main .content {
  height: 1020px;
  margin-left: 350px;
  background: #eeeeee;
}
.banner {
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.banner .logo > div {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}
.banner .logo .blue {
  background-image: linear-gradient(0deg, #1991eb 0%, #2ea1f8 100%);
}
.banner .logo .purple {
  background-image: linear-gradient(0deg, #7f5be6 1%, #9d8fe3 100%);
}
.banner .logo .red {
  background-image: linear-gradient(180deg, #f45438 0%, #cb270a 100%);
}
.banner .logo .add {
  border: solid 1px #2d3848;
  box-sizing: border-box;
  padding: 0 14px;
}
.banner .logo .add .icon {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 40px;
  color: #2d3848;
  font-weight: bold;
}
.banner .foot {
  position: absolute;
  bottom: 10px;
  height: 20px;
  width: 60px;
  border: 1px solid red;
}
.detail {
  padding: 20px 30px;
  box-sizing: border-box;
}
.detail .menu {
  border-bottom: 1px solid #2a3547;
}
.detail .menu .menu-top {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: 0px;
  color: #5b6779;
}
.detail .menu .menu-top .setting {
  float: right;
  padding-top: 12px;
}
.detail .menu .menu-center ul {
  padding-left: 0;
}
.detail .menu .menu-center ul li {
  list-style: none;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: 0px;
  color: #b7c0cd;
}
.detail .menu .menu-center ul li span {
  float: right;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  width: 32px;
  height: 24px;
  background-image: linear-gradient(0deg, #1991eb 0%, #2ea1f8 100%);
  border-radius: 12px;
  text-align: center;
}
