body,
html {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
header {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-image: url("image/background-top.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
header > div {
  height: 500px;
  width: 840px;
}
header > div > p {
  padding: 50px 65px;
}
header > div > .mail {
  width: 960px;
  height: 200px;
  border: 1px solid #625b4d;
  border-radius: 2px;
  color: #ffffff;
}
header > div > .mail p:first-child {
  opacity: 1;
}
header > div > .mail > .send {
  display: flex;
  align-items: center;
  justify-content: center;
}
header > div > .mail > .send > input {
  width: 250px;
  height: 40px;
  margin-right: 20px;
  outline: none;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 1);
  opacity: 0.2;
  color: #ffffff;
}
header > div > .mail > .send > button {
  width: 100px;
  height: 40px;
}
.main .main-p {
  opacity: 0.8;
}

main {
  display: flex;
  justify-content: center;
}
main > div {
  width: 840px;
  height: 580px;
  text-align: center;
}
main > div > p:first-child {
  padding-top: 70px;
}
main > div > p:nth-child(2) {
  font-size: 32px;
  padding: 0 150px 20px 150px;
}
main > div > .main {
  height: 150px;
  display: flex;
  justify-content: space-between;
}
main > div > .main > div {
  flex: 1;
  height: 150px;
}
main .mobile {
  display: flex;
  text-align: left;
}
main .mobile > img {
  flex: 0 0 50px;
  height: 50px;
  margin: 20px 20px 0 0;
}
main .mobile > .info > p {
  font-size: 12px;
  font-weight: 200;
  color: rgba(20, 20, 20, 1);
  opacity: 0.7;
}

.file {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 600px;
  background-image: url("image/background-cont.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.file-center {
  height: 500px;
  flex: 1;
  padding-left: 15%;
  display: flex;
  justify-content: space-between;
}
.file-left {
  flex: 0 0 500px;
  margin-right: 50px;
}
.file-left .first {
  width: 367px;
  font-size: 28px;
  padding: 20px 20px 0 0;
  color: #ffffff;
}
.file-left .second {
  width: 367px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 15px;
}
.file-left button {
  padding: 15px 15px;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 2px;
}
.file-left .btn-border {
  border: 1px solid rgba(255, 255, 255, 1);
  opacity: 0.3;
  margin-left: 20px;
  background: none;
  color: rgba(255, 255, 255, 1);
}
.file-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  border: 1px solid #cccccc;
  border-radius: 30px 0 0 10px;
  padding: 20px 0 20px 40px;
  border-right: none;
}
.file-point {
  flex: 1;
  text-align: right;
  background: #ffffff;
  padding: 50px 0 50px 40px;
}
.file-point h3 {
  margin-right: 100px;
}
.file-point > div {
  display: flex;
  justify-content: flex-end;
}
.file-point .scare {
  width: 29%;
  height: 250px;
  margin-right: 20px;
  box-shadow: 3px 3px 3px 3px #eeeeee;
}
.file-point .scare:nth-child(3) {
  margin-right: 0;
}
.file-point .scare > div:first-child {
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-point .scare .scare-top1 {
  background: #6c48ca;
}
.file-point .scare .scare-top2 {
  background: #1abad3;
}
.file-point .scare .scare-top3 {
  background: #2c9df9;
}
.file-point .scare .scare-center {
  text-align: left;
  padding: 0 20px;
}
.file-point .scare .scare-center span {
  font-size: 12px;
}

.hero {
  display: flex;
  justify-content: center;
  text-align: center;
}
.hero-center {
  width: 840px;
  height: 500px;
}
.hero-center > p {
  font-size: 32px;
  padding-top: 50px;
}
.hero-scare {
  display: flex;
}
.hero-scare > div {
  flex: 1;
  margin: 30px;
  height: 300px;
}
.hero-scare .second {
  font-size: 12px;
  font-weight: 200;
  color: rgba(20, 20, 20, 1);
  line-height: 26px;
  opacity: 0.7;
}

.leaf {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}
.leaf-center {
  width: 840px;
  /* height: 960px;
  border: 1px solid red; */
  padding: 100px 0;
}
.leaf-center > div {
  height: 270px;
  display: flex;
  justify-content: space-between;
}
.leaf-center > div:first-child {
  margin-bottom: 80px;
}
.leaf-center img {
  width: 500px;
  height: 270px;
  margin-right: 100px;
}
.leaf-center .leaf2 {
  margin-right: 0;
}
.leaf-right {
  flex: 1;
}
.leaf-right p:first-child {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
}
.leaf-right .second {
  font-weight: 200;
  color: rgba(20, 20, 20, 1);
  line-height: 24px;
  opacity: 0.7;
  font-size: 12px;
}
.leaf1 {
  margin-right: 100px;
}

.people {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ebebeb;
}
.people .people-center {
  width: 840px;
  height: 900px;
  text-align: center;
}
.people .people-center > p:first-child {
  font-size: 32px;
  padding-top: 50px;
}
.people .people-center > p:nth-child(2) {
  padding: 0 100px;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 200;
  color: rgba(20, 20, 20, 1);
  line-height: 28px;
  opacity: 0.7;
}
.people .people-main {
  display: flex;
  justify-content: space-between;
}
.people .people-center .people1 {
  margin-bottom: 25px;
}
.people-center .people-main > div {
  position: relative;
}
.people-hover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: #000000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  color: #fff;
  display: none;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.people-hover p:first-child {
  padding-top: 90px;
}
.people-hover p:nth-child(2) {
  opacity: 0.4;
}
.people-main > div:hover .people-hover {
  display: block;
}

.send-mail {
  display: flex;
  justify-content: center;
}
.mail-center {
  width: 840px;
  height: 560px;
  display: flex;
  justify-content: space-around;
}
.mail-left {
  width: 400px;
  height: 420px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  margin-top: 70px;
  text-align: center;
}
.mail-left p {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 300;
  color: #141414;
  line-height: 45px;
}
.mail-left input {
  width: 300px;
  height: 30px;
  display: inline-block;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
}
.mail-left textarea {
  width: 300px;
  height: 100px;
  outline: none;
  resize: none;
  border: 1px solid #eeeeee;
}
.mail-left a {
  display: inline-block;
  width: 305px;
  height: 40px;
  line-height: 40px;
  background: #000000;
  color: #ffffff;
  text-decoration: none;
  margin-top: 20px;
}
.mail-right {
  width: 300px;
  margin-top: 80px;
}
.mail-right p {
  font-size: 42px;
  font-family: Montserrat;
  font-weight: 200;
  color: rgba(20, 20, 20, 1);
  line-height: 40px;
}
.mail-right > span {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 200;
  color: rgba(20, 20, 20, 1);
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 15px;
}
.mail-right .address {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}
.mail-right .address1 {
  margin-top: 30px;
}
.mail-right .address img {
  width: 20px;
  height: 20px;
  margin: 5px 10px 0 0;
}
.mail-right .address span {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 300;
  color: rgba(20, 20, 20, 1);
  line-height: 26px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background: #000000;
  font-size: 14px;
}
.footer .footer-center {
  width: 960px;
  height: 250px;
  display: flex;
  justify-content: space-around;
}
.footer-center ul {
  padding: 0;
}
.footer-center ul li {
  list-style: none;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
  opacity: 0.3;
}
.footer-center ul li:first-child {
  font-family: Montserrat;
  font-weight: 300;
  color: #fff;
  opacity: 1;
}
